{% extends 'base.html' %}

{% block title %}
Про Автора
{% endblock %}

{% block body %}
<div class="container mt-5">
<!--    <h3 class="text-center">Про Автора</h3>-->
    <div class="container">
      <div class="row">
        <div class="col-8">
            <h3 class="text-center">Про Автора</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis magna sed neque lacinia laoreet. Proin vitae bibendum quam. Vestibulum massa felis, mattis ut molestie eu, maximus in dolor. Maecenas id pulvinar quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum dictum tempus. In rutrum viverra lorem sed egestas. Proin sodales lacinia augue eget tincidunt. Donec varius lobortis ligula. Nunc sit amet tellus vel mi luctus ullamcorper eu bibendum augue.
            </p>
            <p>
                Sed ac laoreet nisi. Nam turpis diam, viverra id erat eu, fringilla blandit erat. Sed mollis arcu sed faucibus fringilla. Donec nunc purus, ultricies ut aliquet non, accumsan eget ex. Donec posuere vel erat eu convallis. Sed id sollicitudin magna. Praesent placerat suscipit pellentesque. Nulla placerat nunc vitae sem porta, id lacinia tellus dictum. Aliquam egestas enim maximus elit ultricies cursus non sed felis. Morbi sed dui nisi. Sed venenatis tempor neque commodo lacinia.
            </p>
        </div>
        <div class="col-4">
            <img src="/static/about.jpg" width="300" height="300" alt="Лариса Давиденко" class="img-fluid bd-placeholder-img  round">
        </div>
      </div>
    </div>
</div>

{% endblock %}